//<Snippetinput_rc>
#include "resource.h"

IDR_ACCEL1 ACCELERATORS
{
    0x70,   ID_DRAW_MODE, VIRTKEY               // F1
    0x71,   ID_SELECT_MODE, VIRTKEY             // F2
    0x72,   ID_SCALE_MODE, VIRTKEY
    0X73,   ID_ROTATE_MODE, VIRTKEY
    0x74,   ID_DRAG_MODE, VIRTKEY
}

IDR_ACCEL2 ACCELERATORS
{
    0x75,   ID_ELLIPSE, VIRTKEY
    0x76,   ID_RECT, VIRTKEY
}
//</Snippetinput_rc>
	
